html, body, p {
  margin: 0;
  padding: 0;
}

ul {
  li {
    list-style: none;
  }
}

// 全局滚动条样式
// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }
// ::-webkit-scrollbar-track-piece {
//   background-color: transparent;
//   border-radius: 5px;
// }
// ::-webkit-scrollbar-thumb {
//   cursor: pointer;
//   background-color: #28f;
//   border-radius: 5px;
// }
// ::-webkit-scrollbar-thumb :hover {
//   background-color: red;
// }
// ::-webkit-scrollbar-corner {
//   display: block; /* 修复交汇时出现的白块 */
// }

::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}
::-webkit-scrollbar-thumb {
  // background-color: #a1a3a9;
  background-color: transparent;
  border-radius: 5px;
}
.scrollbarStyle::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}
.scrollbarStyle::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 5px;
}
