@charset "UTF-8";
html, body, p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.el-main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.el-main::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 5px;
}

.el-main::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #28f;
  border-radius: 5px;
}

.el-main::-webkit-scrollbar-thumb :hover {
  background-color: red;
}

.el-main::-webkit-scrollbar-corner {
  display: block;
  /* 修复交汇时出现的白块 */
}
